<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<!-- <ng-container [ngSwitch]='currentPage'>
    <app-add-product *ngSwitchCase="'addProduct'" ></app-add-product>
    <app-product-details *ngSwitchCase="'ProductDetail'"></app-product-details>
    <app-login *ngSwitchCase="'login'"></app-login>
    <app-product-listing *ngSwitchCase="'listing'"></app-product-listing>
</ng-container> -->

<!--  -->
<!-- <app-product-listing></app-product-listing> -->


<!-- <app-test></app-test> -->