<div class="item-medium-1__alert" *ngIf ="product.discount">Sale</div>
<div class="item-medium-1__image image" [style.backgroundImage]="'url('+product.imagesUrls[0]+')'">
    <a class="item-medium-1__action" (click)="addToCart()">Add to Cart</a>
</div>
<a [routerLink]="['/product','detail',product._id]" >
    <h4>{{product.data[0].name}}</h4>
    <div>
        <del *ngIf = "product.discount">${{product.price}}</del>
        <span class="lable">${{getPrice()}}</span>
    </div>
</a>
<div class="crud-actions">
    <a [routerLink]="['/product','detail',product._id]"><i class="far fa-eye"></i></a>
    <a [routerLink]="['/product','edit',product._id]"><i class="fas fa-edit"></i></a>
    <a href="#"><i class="fas fa-trash-alt"></i></a>
</div>